@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: rgba(0,0,0,0.8);
}

h1, h2, h3, h4, h5, h6, span{
    color: black;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

#logo{
    color:whitesmoke;
    font-size: 700;
}

a{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

ul{
        display: flex;
}

li{
    list-style-type: none;
    padding-left: 16px;
}