@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

i:hover {
  opacity: 0.7;
}

.container {
  padding: 50px 0;
}

.section__title {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: black;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.no--cursor:hover {
  cursor: not-allowed;
}

nav,
footer {
  background-color: rgba(0, 0, 0, 0.8);
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: whitesmoke;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.working {
  display: none;
}

/*
    NAVIGATION BAR
*/

nav {
  height: 80px;
  display: flex;
  margin-bottom: 24px;
}

.nav__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.logo__container {
  height: 80px;
  width: 80px;
  margin: 0 12px;
}

.logo {
  height: 100%;
  width: 100%;
}

.nav__link--anchor,
.menu__link {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.nav__link--anchor--primary {
  background-color: #0071e3;
  padding: 8px 20px;
  border-radius: 50px;
  transition: all 300ms ease;
  cursor: pointer;
}

.nav__link--anchor--primary:hover {
  background-color: rgb(0, 60, 255);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  display: none;
}

.menu__backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  transition: all 300ms ease;
}

.btn__menu--close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu__list {
  padding: 20px 0;
}

.menu__open .menu__backdrop {
  opacity: 1;
  visibility: visible;
}

.menu__open {
  max-height: 100vh;
  overflow: hidden;
}

/*
    ABOUT ME 
*/

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
}

.text-blue {
  color: #0071e3;
}

.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}

.about-me__picture {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  padding-top: 15px;
}

.about-me__info--title {
  font-size: 50px;
  margin-bottom: 16px;
  animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__links {
  animation: fade-up 650ms 800ms backwards;
}

.about-me__link {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 0 16px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  animation: fade-in 1200ms 800ms backwards;
}

.about-me__img {
  width: 100%;
  height: 100%;
}

.wave {
  display: inline-block;
  animation: animate-wave 650ms infinite ease-in-out;
}

/*
    LANGUAGES
*/

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language:hover .language__name {
  transform: scale(1);
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__img {
  width: 100%;
  max-width: 100px;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
  transition: all 300ms ease;
}

.language__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transform: all 300ms;
  font-size: 20px;
}

/*
    PROJECTS
*/

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__list {
  padding-top: 40px;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms ease;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: white;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  text-decoration: none;
  margin-right: 16px;
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

/*
    FOOTER
*/

.footer__row {
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__logo--img {
  width: 70px;
  height: 70px;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor:hover .footer__logo--popper {
  opacity: 1;
  transform: translateX(60px);
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: whitesmoke;
}

/* For small phones, large phones & tablets */
@media (max-width: 768px) {
  nav,
  .logo__container {
    height: 68px;
  }

  .logo__container{
    width: 68px;
  }

  .nav__link--anchor {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: 50%;
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }

  .menu__link{
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 20px;
  }

  .nav__link:not(:last-child) {
    display: none;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }

  .project__description--title {
    text-align: center;
    font-size: 32px;
    line-height: 1;
  }

  .btn__menu {
    display: flex;
  }
}
